@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body{
    color: white;
    background-color: rgb(18, 17, 26);
}

main{
    max-width: 1250px;
    width: 90%;
    margin: auto;
    margin-top: 250px;
    border: 2px solid white;
    border-radius: 25px;
}

#eredmenyKijelzo{
    text-align: center;
    margin: auto;
    font-family: "Unbounded";
    font-size: 25px;
}

#feladatFajta{
    text-align: center;
    font-size: 40px;
    font-family: "Trade Winds";
    margin-top: 25px;
    margin-bottom: 25px;
    top: 0;
}

#feladatValaszto{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#feladatValaszto button {
    background-color: rgb(18, 17, 26);
    color: white;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    padding: 10px;
    font-family: "Unbounded";
    font-size: 20px;
}

#feladatValaszto button:hover{
    transition: 0.5s;
    border: 2px solid purple;
    margin: auto;
    cursor: pointer;
}

#feladatValaszto button:disabled{
    transition: 0.5s;
    border: 2px solid white;
    background-color: darkred;
    color: white;
    width: 88%;
    cursor: not-allowed;
}

#joAlert{
    background-color: green;
    color: white;
    width: 20%;
    border: 2px solid white;
    border-radius: 25px;
    font-family: "Unbounded";
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 10px;
    left: 40%;
}

#rosszAlert{
    background-color: darkred;
    color: white;
    width: 20%;
    border: 2px solid white;
    border-radius: 25px;
    font-family: "Unbounded";
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 10px;
    left: 40%;

}

#feladatTer .feladat{
    grid-area: "mfelad";
    text-align: right;
}

#feladatTer .nbr{
    grid-area: "szambe";
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#feladatTer{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
    display: grid;
    grid-template-areas: "mfelad szambe kovi";
}

#feladatTer .next{
    background-color: rgb(18, 17, 26);
    color: white;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    padding: 10px;
    font-family: "Unbounded";
    font-size: 20px;
    width: 200px;
    grid-area: "kovi";
}

#feladatTer .next:hover{
    transition: 0.5s;
    border: 2px solid purple;
    margin: auto;
    cursor: pointer;
}

#feladatTer #feladat{
    width: 200px;
}

#feladatTer #bemenet{
    width: 200px;
}

#feladatTer .nbr{
    font-size: 40px;
    width: 250px;
    height: 50px;
}

#feladatTer .nbr::-webkit-outer-spin-button,
#feladatTer .nbr::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 30px;
    font-family: "Zeyada";
}

@media screen and (max-width: 700px) {
    #feladatValaszto{
        grid-template-columns: 1fr;
    }

    #szamolas{
        padding: 20px;
    }

    #iras{
        padding: 20px;
    }

    #olvasas{
        padding: 20px;
    }

    #feladatTer{
        margin: auto;
        text-align: center;
        font-size: 35px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #feladatTer #nbr{
        font-size: 35px;
        width: 100px;
    }
}
